*,*::after,*::before{
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    font-family: $font-style;
    background: $color-1;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
h2{
    color: $color-6;
    font-size: 32px;
    font-weight: 900;
}
nav{
    position: relative;
}
@media(max-width:767px){
    h2{
        font-size: 20px;
    }
}
h4{
    font-size: 12px;
    color: $color-3;
    font-weight: 700;
    text-align: left;
    padding-left: 40px;
    margin-bottom: 8px;
}
a{
    display: block;
    text-decoration: none;
    color: $color-6;
}
p{
    color: $color-6;
}
span{
    display: block;
}
