$container-width:1296px;
$primary-color:#F18724;
$surface-color:#F2EFE7;
$color-1:#020202;
$color-2:#525252;
$color-3:#919191;
$color-4:#D1D1D1;
$color-5:#F2F2F2;
$color-6:#FFFFFF;
$font-style:'Noto Sans TC', sans-serif;