.content-2{
    .text-box{
        p{
            font-size: 48px;
            font-weight: 900;
            width: 66%;
        }
        h2{
            width: 32%;
        }
        @media (max-width:767px){
            .d-flex{
                flex-direction: column;
            }
            p{
                width: 100%;
                font-size: 32px;
            }
        }
        
    }
    @media (max-width:767px) {
        .text-box{
            display: block;
        }
        h2{
            margin-bottom: 20px;
        }
    }
}
