.content-2{
    .card{
        max-width: 32%;
        padding: 85.67px 39px 79px 39px;
        border: 1px solid #fff;
        border-radius: 20px;
        img{
            width: 60px;
            margin-bottom: 20px;
        }
        h3{
            color: $color-6;
            font-size: 32px;
            font-weight: 900;
            margin-bottom: 20px;
        }
        p{
            font-weight: 400;
        }
        
    }
    @media (max-width:767px) {
        ul{
            flex-wrap: wrap;
        }
        li{
            margin-bottom: 16px;
        }
        .card{
            max-width: 100%;
        }
        
    }
}