<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title><%- title %></title>
  
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <header class="header flex-colum padding-top-20 container">
    <nav class="d-flex justify-content-between padding-bottom-20 border-bottom">
    <h1><a href="index.html"><img src="./assets/images/logo.png" alt="logo">AI工具王</a></h1>
    <ul class="navbar d-flex">
    <li><a class="fw-700 mr-20 href-hover" href="index.html">首頁</a></li>
    <li><a class="fw-700 href-hover" href="pricing.html">定價</a></li>
    </ul>
    <a href="#" class="menu-btn font-sixth"><span class="menu-icon material-symbols-outlined">
      menu
    </span></a>
    </nav>
    <ul class="menu">
    <div class="menu-header flex-colum  justify-content-center">
    <li class="menu-list"><a href="index.html" class="font-sixth fz-80 fw-900">首頁</a></li>
    <li class="menu-list"><a href="pricing.html" class="font-sixth fz-80 fw-900">定價</a></li>
    </div>
    <div class="menu-footer border-top border-sixth padding-top-bottom-32 container">
    <p class="mb-36">AI工具王 © 2023</p>
    <div class="d-flex">
    <a class="mr-20 href-hover" href="https://www.facebook.com/">Facebook</a>
    <a class="mr-20 href-hover" href="https://twitter.com/?lang=zh-Hant">Twitter</a>
    <a class="href-hover" href="https://www.instagram.com/">Instagram</a>
    </div>
    </div>
    </ul>
    
  </header>

  <%- contents %>

  <footer class="footer container">
    <div class="d-flex justify-content-between">
      <div class="order-1">
      <a class="fz-80 fw-900 mb-8 line-height-12 href-hover" href="index.html">首頁</a>
      <a class="fz-80 fw-900 line-height-12 href-hover" href="pricing.html">定價</a>
      </div>
      <img class="order-2" src="./assets/images/logo.png" style="width: 250px; height: 40px;" alt="logo">
    </div>
  </footer>

  <div class="footer-bottom d-flex f-wrap justify-content-between container">

  </div>
  <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="./assets/js/all.js"></script>
</body>


</html>
