.content-5{
    ul{
        width: 70%;
    }
    li{
        padding: 20px 40px;
        border-radius: 16px;
        border: 1px solid $color-2;
        transition: border-color 0.5s ease;
         
        //+號圖示
        .plus{
            background-image: url("../../../assets/images/icons/add.png");
            width: 24px;
            height: 24px;
            margin-right: 20px;
        }

        //伸縮框設置:回答
        .answer{
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease;
            p{
                padding-top: 12px;
                padding-left: 44px;
                font-size: 14px;
            }
        }
        &:hover{
            border-color: $color-6;
        }
    }
    .faq.active{
        .answer{
            max-height: 100px;
        }
        .plus{
            background-image: url("../../../assets/images/icons/remove.png");
        }
    }
    @media (max-width:767px) {
        h2{
            margin-bottom: 24px;
        }
        .QA{
            flex-direction: column;
            ul{
                width: 100%;
            }
        }
        li{
            .answer{
                p{
                    padding-left: 0px;
                }
            }
        }

    }
}