.text-middle {
  vertical-align: middle;
}
.text-align-right {
  text-align: right;
}

//a hover
.href-hover:hover {
  color: $surface-color;
}
.over {
  overflow: hidden;
}
@media(max-width:300px){
.link-rwd{
  flex-direction: column;
}
}
.overflow-x {
  //container
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display: none;
  }
}
.overflow-x-scroll {
  //content
  overflow-x: scroll;
}
