// container
.container{
    max-width: 1296px;
    margin: 0 auto;
}
@media(max-width:767px){
    .container{
        padding-left: 12px;
        padding-right: 12px;
    }
}
.line-height-12{
    line-height: 1.2;
}

.d-list{
    display: list-item;
}
.color-text{
    color: $color-6;
}

// flex-box
.d-flex{
    display: flex;
}
.flex-colum{
    display: flex;
    flex-direction: column;
}
.flex-end{
    flex-direction: row-reverse;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around;
}
.justify-content-center{
    justify-content: center;
}
.align-item-center{
    align-items: center;
}
.align-item-flex-start{
    align-items: flex-start;
}
.f-wrap{
    flex-wrap: wrap;
}
.flex-grow-2{
    flex-grow: 2;
}
.flex-grow-1{
    flex-grow: 1;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.width-50{
    width: 50%;
}
@media (max-width:767px){
    .width-50{
        width: 70%;
    }
}
// font-size
.fz-14{
    font-size: 14px;
}
.fz-20{
    font-size: 20px;
}
.fz-32{
    font-size: 32px;
}
.fz-36{
    font-size: 36px;
}
.fz-48{
    font-size: 48px;
}
.fz-56{
    font-size: 56px;
}
.fz-80{
    font-size: 80px;
}
.fz-120{
    font-size: 120px;
}
@media(max-width:767px){
    .fz-120{
        font-size: 48px;
    }
    .fz-48{
        font-size: 32px;
    }
    .fz-80{
        font-size: 32px;
    }
    .fz-32{
        font-size: 16px;
    }
}
// font-style
.font-bold{
    font-weight: 700;
}
.text-middle{
    vertical-align: middle;
}
.text-align-right{
    text-align: right;
}
.fw-400{
    font-weight: 400;
}
.fw-700{
    font-weight: 700;
}
.fw-900{
    font-weight: 900;
}
// margin
.mr-20{
    margin-right: 20px;
}
.mr-24{
    margin-right: 24px;
}
.mb-8{
    margin-bottom: 8px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-24{
    margin-bottom: 24px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-80{
    margin-bottom: 80px;
}
.mr-100{
    margin-right: 100px;
}
// border
.border-0{
    border: 0;
}
.border-bottom{
    border-bottom: 1px solid $color-6;
}
.border-bottom-white{
    border-bottom: 1px solid $color-2;
}
.border-gray{
    border-color: $color-3;
}
.border-top{
    border-top: 1px solid $color-5;
}


// RWD針對content4區塊進行水平滑動

@media (max-width:767px){
    .overflow-x{ //container
        overflow-x: auto;
        white-space: nowrap;
    }
    .overflow-x-scroll{ //content
        overflow-x: scroll;
    }
}


// padding
.padding-top-bottom-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.padding-bottom-20{
    padding-bottom: 20px;
}

// button-style
.btn{
    padding: 20px 40px;
    border-radius: 20px;
    font-weight: 700;
    border: 1px solid $color-6;
    text-align: center;
    font-size: 16px;
}
.little-btn{
    padding: 8px 16px;
}
.btn:hover{
    background: $color-6;
    color: $color-1;
}
.btn-gray{
    color: $color-3;
    padding: 8px 16px;
    font-weight: 400;
}
.btn-gray:active{
    color: $color-1;
    background: $color-3;
}
.btn-gray:hover{
    color: $color-1;
    background:$color-5;
    font-weight: 700;
}
.btn-gray-start{
    color: $color-1;
    background:$color-5;
    font-weight: 700;
}
.btn-black{
    color: $color-1;
    width: 48px;
    height: 48px;
    padding: 12px;
    font-size: 14px;
    font-weight: 400;
}
.btn-black:active{
    color: $color-6;
    background:$color-1;
}
.btn-black-start{
    color: $color-6;
    background:$color-1;
}
.btn-black:hover{
    color: $color-1;
    background: $color-5;
}

