@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5;
  font-family: "Noto Sans TC", sans-serif;
  background: #020202; }

main {
  padding-top: 40px; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

h2 {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 900; }

@media (max-width: 767px) {
  main {
    padding-top: 110px; }
  h2 {
    font-size: 20px; } }

@media (max-width: 300px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

h4 {
  font-size: 12px;
  color: #919191;
  font-weight: 700;
  text-align: left;
  padding-left: 40px;
  margin-bottom: 8px; }

a {
  display: block;
  text-decoration: none;
  color: #FFFFFF; }

p {
  color: #FFFFFF; }

span {
  display: block; }

.container {
  max-width: 1296px;
  margin: 0 auto; }

@media (max-width: 767px) {
  .container {
    padding: 0 12px; } }

.mr-100 {
  margin-right: 100px; }

.mr-20 {
  margin-right: 20px; }

.mr-24 {
  margin-right: 24px; }

.mb-8 {
  margin-bottom: 8px !important; }

.mb-12 {
  margin-bottom: 12px; }

.mb-20 {
  margin-bottom: 20px; }

.mb-24 {
  margin-bottom: 24px; }

.mb-32 {
  margin-bottom: 32px; }

.mb-36 {
  margin-bottom: 36px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

.mb-150 {
  margin-bottom: 150px; }

.mb-160 {
  margin-bottom: 160px; }

.mb-200 {
  margin-bottom: 200px; }

.ml-12 {
  margin-left: 12px; }

.ml-15 {
  margin-left: 15px; }

.mt-8 {
  margin-top: 8px; }

.padding-top-bottom-20 {
  padding: 20px 0; }

.padding-top-bottom-32 {
  padding: 32px 0; }

.padding-top-bottom-40 {
  padding: 40px 0; }

.padding-top-bottom-120 {
  padding: 120px 0; }

.padding-top-bottom-160 {
  padding: 160px 0; }

.pl-40 {
  padding-left: 40px; }

.padding-top-12 {
  padding-top: 12px; }

.padding-top-20 {
  padding-top: 20px; }

.padding-top-40 {
  padding-top: 40px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-bottom-24 {
  padding-bottom: 24px; }

.border-0 {
  border: 0; }

.border-bottom {
  border-bottom: 1px solid #FFFFFF; }

.border-bottom-white {
  border-bottom: 1px solid #525252; }

.border-top {
  border-top: 1px solid #F2F2F2; }

.border-fifth {
  border-color: #F2F2F2; }

.border-sixth {
  border-color: #FFFFFF; }

.border-gray {
  border-color: #F2F2F2; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-colum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.flex-end {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.justify-content-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.align-item-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-item-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.f-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.flex-grow-1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.flex-grow-2 {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2; }

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3; }

.fz-12 {
  font-size: 12px; }

.fz-14 {
  font-size: 14px; }

.fz-16 {
  font-size: 16px; }

.fz-20 {
  font-size: 20px; }

.fz-24 {
  font-size: 24px; }

.fz-32 {
  font-size: 32px; }

.fz-36 {
  font-size: 36px; }

.fz-48 {
  font-size: 48px; }

.fz-56 {
  font-size: 56px; }

.fz-80 {
  font-size: 80px; }

.fz-120 {
  font-size: 120px; }

@media (max-width: 767px) {
  .fz-120 {
    font-size: 48px; }
  .fz-48 {
    font-size: 28px; }
  .fz-80 {
    font-size: 32px; }
  .fz-32 {
    font-size: 16px; } }

.font-bold {
  font-weight: 700; }

.fw-400 {
  font-weight: 400; }

.fw-700 {
  font-weight: 700; }

.fw-900 {
  font-weight: 900; }

.font-primary {
  color: #020202; }

.font-second {
  color: #525252; }

.font-third {
  color: #919191; }

.font-fourth {
  color: #D1D1D1; }

.font-fifth {
  color: #F2F2F2; }

.font-sixth {
  color: #FFFFFF; }

.line-height-12 {
  line-height: 1.2; }

@-webkit-keyframes slide-up {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  35% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@keyframes slide-up {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%); }
  35% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  70% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

.animation-banner li:nth-child(3) {
  -webkit-animation: slide-up 3s 0.7s infinite ease;
          animation: slide-up 3s 0.7s infinite ease; }

.animation-banner li:nth-child(2) {
  -webkit-animation: slide-up 3s 1s infinite ease;
          animation: slide-up 3s 1s infinite ease; }

.animation-banner li:nth-child(1) {
  -webkit-animation: slide-up 3s 1.3s infinite ease;
          animation: slide-up 3s 1.3s infinite ease; }

.btn {
  padding: 20px 40px;
  border-radius: 20px;
  font-weight: 700;
  border: 1px solid #FFFFFF;
  text-align: center;
  font-size: 16px; }

.btn-sm {
  width: 160px; }

.btn-lg {
  width: 180px; }

@media (max-width: 200px) {
  .btn-sm, .btn-lg {
    width: 100%; } }

.little-btn {
  padding: 8px 16px; }

.btn:hover {
  background: #FFFFFF;
  color: #020202; }

.btn-gray {
  color: #919191;
  padding: 8px 16px;
  font-weight: 400; }

.btn-gray:active {
  color: #020202;
  background: #919191; }

.btn-gray:hover {
  color: #020202;
  background: #F2F2F2;
  font-weight: 700; }

.btn-gray-start {
  color: #020202;
  background: #F2F2F2;
  font-weight: 700; }

.btn-black {
  color: #020202;
  width: 48px;
  height: 48px;
  padding: 12px;
  font-size: 14px;
  font-weight: 400; }

.btn-black.active {
  color: #FFFFFF;
  background: #020202; }

.btn-black.disabled {
  pointer-events: none; }

.btn-black-start {
  color: #FFFFFF;
  background: #020202; }

.btn-black:hover {
  color: #020202;
  background: #F2F2F2; }

.header {
  background-color: #020202; }
  .header h1 a {
    width: 250px;
    height: 40px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
  .header li {
    padding-top: 8px;
    padding-bottom: 8px; }
  @media (max-width: 767px) {
    .header {
      z-index: 3;
      position: fixed;
      width: 100%; }
      .header .navbar {
        display: none; }
      .header h1 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .header h1 a {
          width: 147px;
          height: 24px; }
        .header h1 img {
          width: 147px;
          height: 24px; } }

.menu-btn {
  display: none; }

.menu {
  display: none; }

.menu-header {
  height: 70%; }

.menu-footer {
  height: 30%; }

@media (max-width: 767px) {
  .menu-btn {
    display: block; }
  .menu {
    background: #020202;
    height: 100vh;
    z-index: 2;
    max-width: 992px;
    overflow-x: hidden; }
    .menu .menu-list {
      text-align: center; }
      .menu .menu-list a {
        font-size: 80px; }
  .menu.active {
    display: block; } }

.footer {
  line-height: 1;
  padding-top: 79px;
  padding-bottom: 79px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff; }
  @media (max-width: 767px) {
    .footer img {
      margin-bottom: 40px; }
    .footer .d-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .footer .order-1 {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .footer .order-2 {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; } }

.footer-bottom {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 40px; }
  .footer-bottom .order-3 {
    cursor: pointer; }
  @media (max-width: 767px) {
    .footer-bottom p {
      margin-right: 0; }
    .footer-bottom .order-1 {
      margin-bottom: 36px; }
    .footer-bottom .order-2 {
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
    .footer-bottom .order-3 {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; } }

.text-middle {
  vertical-align: middle; }

.text-align-right {
  text-align: right; }

.href-hover:hover {
  color: #F2EFE7; }

.over {
  overflow: hidden; }

@media (max-width: 300px) {
  .link-rwd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.overflow-x {
  overflow-x: auto;
  white-space: nowrap; }
  .overflow-x::-webkit-scrollbar {
    display: none; }

.overflow-x-scroll {
  overflow-x: scroll; }

@media (max-width: 767px) {
  .slogan-text {
    max-width: 80%; } }

.text-box p {
  width: 66%; }

.text-box h2 {
  width: 32%; }

@media (max-width: 767px) {
  .text-box .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .text-box p {
    width: 100%;
    font-size: 32px; } }

@media (max-width: 767px) {
  .text-box {
    display: block; }
  h2 {
    margin-bottom: 20px; } }

.service-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.service-card {
  max-width: 32%;
  padding: 85.67px 39px 79px 39px;
  border: 1px solid #525252;
  border-radius: 16px; }
  .service-card h3 {
    color: #FFFFFF;
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 20px; }
  .service-card p {
    font-weight: 400; }

.service-icon {
  font-size: 67px;
  color: #fff; }

@media (max-width: 767px) {
  .service-card-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .service-card {
    max-width: 100%;
    margin-bottom: 16px; } }

.partner-list {
  position: relative; }
  .partner-list::-webkit-scrollbar {
    display: none; }
  .partner-list::before, .partner-list::after {
    width: 196px;
    height: 80px;
    content: "";
    position: absolute;
    top: 0; }
  .partner-list::before {
    background: -webkit-gradient(linear, left top, right top, from(black), color-stop(25%, black), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(left, black 0%, black 25%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to right, black 0%, black 25%, rgba(0, 0, 0, 0) 100%);
    left: 0; }
  .partner-list::after {
    background: -webkit-gradient(linear, right top, left top, from(black), color-stop(25%, black), to(rgba(0, 0, 0, 0)));
    background: -o-linear-gradient(right, black 0%, black 25%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(to left, black 0%, black 25%, rgba(0, 0, 0, 0) 100%);
    right: 0; }
  .partner-list img {
    width: 160px;
    height: 40px;
    max-width: initial; }
  @media (max-width: 767px) {
    .partner-list::before, .partner-list::after {
      width: 30%; } }

.swiper {
  display: none !important; }

@media (max-width: 767px) {
  .noSwiper {
    display: none; }
  .swiper {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-bottom: 50px; }
  .swiper-pagination {
    bottom: var(--swiper-pagination-bottom, 0px) !important; }
  .swiper-pagination-bullet {
    background: #FFFFFF;
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 12px)) !important;
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 12px)) !important; }
  :root {
    --swiper-theme-color: white !important; } }

.partner-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.partner-card {
  padding: 40px;
  max-width: 32%;
  background: rgba(255, 255, 255, 0.08);
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 16px; }

.star {
  margin-bottom: 20px; }

.partner-text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 60px; }

.partner-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .partner-profile img {
    width: 40px;
    height: 40px;
    margin-right: 20px; }

@media (max-width: 767px) {
  .partner-card {
    max-width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    height: auto; }
  .partner-profile p {
    margin-bottom: 0; } }

.AI-section {
  background: #FFFFFF;
  border-radius: 16px;
  padding-top: 80px;
  padding-bottom: 80px; }

.AI-section-header h2 {
  text-align: center; }

@media (max-width: 767px) {
  .AI-section-header .order-2 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .AI-section-header .order-3 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; } }

.search-row {
  position: relative; }

.search-icon {
  position: absolute;
  top: 15px;
  left: 16px; }

.search {
  position: relative;
  background: #F2F2F2;
  width: 100%;
  border-radius: 16px;
  padding: 20px 40px; }

.dropdown {
  position: relative; }

.dropdown-240 {
  width: 240px; }

.dropdown-144 {
  width: 144px; }

.dropdown-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
  padding: 20px 40px;
  border-radius: 16px; }

.dropdown-btn:hover {
  border-color: #000000; }

.dropdown-menu {
  position: absolute;
  background: white;
  top: 70px;
  left: 0;
  display: none;
  margin-top: 4px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  padding: 20px 0;
  border-radius: 16px;
  z-index: 1; }

.dropdown-menu li {
  margin-bottom: 8px;
  padding: 4px 40px; }

.dropdown-menu a {
  color: #000000;
  text-align: left; }

.dropdown-menu li:hover {
  background-color: #f2f2f2; }

.dropdown-menu.show {
  display: block; }

.type-item-check {
  display: none; }

.type-item-check.active {
  display: block; }

.AI-card {
  width: 32%;
  border-left: 1px solid #dad3d3;
  border-right: 1px solid #dad3d3;
  border-bottom: 1px solid #dad3d3;
  border-radius: 16px;
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .AI-card .img-list {
    overflow: hidden;
    border-radius: 16px 16px 0px 0px; }
    .AI-card .img-list img {
      -webkit-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out;
      transition: 0.3s all ease-in-out;
      vertical-align: middle; }
      .AI-card .img-list img:hover {
        -webkit-transform: scale(1.2);
            -ms-transform: scale(1.2);
                transform: scale(1.2); }
  .AI-card span {
    color: #020202; }
  .AI-card .card-padding {
    padding: 20px 32px; }
  .AI-card img {
    border-radius: 16px 16px 0px 0px; }

@media (max-width: 767px) {
  .AI-card {
    width: 100%; } }

.price-card {
  width: 49%;
  border: 1px solid #525252;
  border-radius: 16px;
  -webkit-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease; }
  .price-card-header {
    padding: 20px 32px; }
    .price-card-header ul {
      padding-bottom: 124px; }
  .price-card-footer {
    padding: 20px 32px; }
  .price-card:hover {
    border-color: #FFFFFF; }

@media (max-width: 767px) {
  .price-card {
    width: 100%;
    margin-bottom: 24px; }
    .price-card-header {
      padding: 20px; }
      .price-card-header ul {
        height: 70px; }
      .price-card-header li {
        margin-bottom: 0; } }

@media (max-width: 767px) {
  .law-section .law {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .law-section .law h2 {
      margin-bottom: 48px; } }

@media (max-width: 767px) {
  .faq-section h2 {
    margin-bottom: 24px; }
  .faq-section .QA {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

.faq-list {
  width: 70%; }

.faq {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid #525252;
  -webkit-transition: border-color 0.5s ease;
  -o-transition: border-color 0.5s ease;
  transition: border-color 0.5s ease;
  cursor: pointer; }
  .faq:hover {
    border-color: #FFFFFF; }

.faq.active .answer {
  max-height: 200px; }

.faq.active .plus {
  background-image: url("../../assets/images/icons/remove.png"); }

.plus {
  background-image: url("../../assets/images/icons/add.png");
  width: 24px;
  height: 24px;
  margin-right: 20px; }

.answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s ease;
  -o-transition: max-height 1s ease;
  transition: max-height 1s ease; }
  .answer p {
    padding-top: 12px;
    padding-left: 44px; }

@media (max-width: 767px) {
  .answer p {
    padding-left: 0px; }
  .faq-list {
    width: 100%; } }

.buy-slogan-text {
  width: 50%; }

@media (max-width: 767px) {
  .buy-slogan-text {
    width: 80%; } }

/*# sourceMappingURL=all.css.map */
