.content-4{
    h2{
        text-align: center;
    }
    .search{
        background: $color-5;
        width: 100%;
        border-radius: 16px;
        padding: 20px 40px;
    }
    .select{
        padding: 19px 39px;
        border: 1px solid $color-5;
        color: $color-1;
        border-radius: 16px;
    }
    @media(max-width:767px){
        .order-2{
            order:3;
        }
        .order-3{
            order:2;
        }
        
    }
}