.content-4{
    .card{
        width: 32%;
        border-left: 1px solid rgb(218, 211, 211);
        border-right: 1px solid rgb(218, 211, 211);
        border-bottom: 1px solid rgb(218, 211, 211);
        border-radius:16px;
        .img-list{
            overflow: hidden;
            border-radius: 16px 16px 0px 0px;
            img {
            transition: 0.3s all ease-in-out;
            vertical-align: middle; //消除img底部空白
            &:hover {
              transform: scale(1.2);
            }
          }
        }
        p{
            color: #020202;
        }
        span{
            color:#020202;
        }
        
    }
    .card-padding{
        padding:20px 32px;
    }
    img{
        border-radius: 16px 16px 0px 0px;
    }
    @media (max-width:767px) {
        .card{
            width: 100%;
        }
        li{
            margin-bottom: 24px;
        }
    }
}