.font-primary{
    color: $color-1;
}
.font-second{
    color: $color-2;
}
.font-third{
    color: $color-3;
}
.font-fourth{
    color: $color-4;
}
.font-fifth{
    color: $color-5;
}
.font-sixth{
    color: $color-6;
}