// font-size
.fz-12{
    font-size: 12px;
}
.fz-14{
    font-size: 14px;
}
.fz-20{
    font-size: 20px;
}
.fz-24{
    font-size: 24px;
}
.fz-32{
    font-size: 32px;
}
.fz-36{
    font-size: 36px;
}
.fz-48{
    font-size: 48px;
}
.fz-56{
    font-size: 56px;
}
.fz-80{
    font-size: 80px;
}
.fz-120{
    font-size: 120px;
}
@media(max-width:767px){
    .fz-120{
        font-size: 48px;
    }
    .fz-48{
        font-size: 28px;
    }
    .fz-80{
        font-size: 32px;
    }
    .fz-32{
        font-size: 16px;
    }
}