.container {
  max-width: $container-width;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .container {
    padding: 0 12px;
  }
}


// margin

//margin-right
.mr-100 {
  margin-right: 100px;
}
.mr-20 {
  margin-right: 20px;
}
.mr-24 {
  margin-right: 24px;
}

//margin-bottom
.mb-8 {
  margin-bottom: 8px !important;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32{
  margin-bottom: 32px;
}
.mb-36{
  margin-bottom: 36px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-80 {
  margin-bottom: 80px;
}
.mb-100 {
  margin-bottom: 100px;
}
.mb-150 {
  margin-bottom: 150px;
}
.mb-160 {
  margin-bottom: 160px;
}
.mb-200{
  margin-bottom: 200px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-15{
  margin-left: 15px;
}
.mt-8 {
  margin-top: 8px;
}

// padding
.padding-top-bottom-20 {
  padding: 20px 0;
}
.padding-top-bottom-32 {
  padding: 32px 0;
}
.padding-top-bottom-40 {
  padding: 40px 0;
}
.padding-top-bottom-120{
  padding: 120px 0;
}
.padding-top-bottom-160 {
  padding: 160px 0;
}
.pl-40{
  padding-left: 40px;
}
.padding-top-12{
  padding-top: 12px;
}
.padding-top-20{
  padding-top: 20px;
}

.padding-top-40{
  padding-top: 40px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-24 {
  padding-bottom: 24px;
}
